html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.k-list .k-item.k-state-selected {
  background-color: #f50057;
}
.k-list .k-item:hover{
  background-color: #f50057;
  color: white;
}

td.k-state-selected {
  background: transparent !important;
}

.k-event {
  font-size: 0.9em !important;
  background-color: #f50057;
}

.event-available {
  opacity: 1;
  height: 100%;
  cursor: pointer;
}

.is-super-admin .event-not-available {
  cursor: pointer;
  height: 100%;
}

.is-user-admin .event-not-available {
  background: #ff8987;
  height: 100%;
  cursor: default;
}

.k-window-titlebar {
  background-color: #f50057;
}

.k-button.k-primary {
  color: #f50057 !important;
}
.k-button.k-primary:hover {
  background-color: #f50057;
  color: white !important;
}

.k-multiselect.k-state-disabled li.k-button {
  background: #f50057;
  color: white;
}

.k-multiselect.k-state-disabled {
  opacity: 1;
}

.k-multiselect.k-state-disabled .k-i-close {
  display: none;
}



